<!DOCTYPE html>
<html>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="davis land"/>
  <meta property="og:url" content="http://davisland.info{{ page.url }}" />
  <meta property="og:description" content="Hi! I'm Davis. Here's my website thing." />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://davisland.info/davisicon.png" />
  <head>
      <title>davis land</title>
      <link rel="icon" 
            type="image/png" 
            href="davisicon.png">
      <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      {{ content }}
      <br><br>
      <a href="/about/">about</a> / <a href="/links/">links</a> / <a href="/samples/">samples</a> / <a href="/contact/">contact</a></div></p>
    </div>
  </body>
</html>
